/* hitungluaspersegi.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    text-align: center;
    color: #333;
    border: 2px solid #333; /* Add border styling */
    padding: 10px; /* Add padding for better visibility */
    
    max-width: 400px;
    margin: 0 auto;
    background-color: #eb3d3d;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
  }
  
  
  table {
      width: 50%; /* Adjust the width of the table */
      margin: 0 auto;
      border-collapse: collapse;
  }
  
  form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
  }
  
  h2 {
    text-align: center;
    color: #333;
  }
  
  p {
    color: #666;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    color: #333;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
  }
  
  button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button[type="reset"] {
    background-color: #f44336;
  }
  
  .result {
    margin-top: 16px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
  }
  
  /* Additional styling for the container */
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  